body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  ;
}

.container{
  position: center;
  width: 800px;
  height: 600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 40px;

}

#logo{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header > h3{
  color: lime;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2px;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lime;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  height: 20px;
  gap:2px;
}

input{
  font-size: 10%;
  width: auto;
}

main > div{
  margin-top: 10px;
  margin-left: 40px;

  input[type="checkbox"] {
    width: 10px;
    height: 10px;
  }


}div > h4{
  display: inline-block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.carica_gino22 {
  width: 240px;
  height: 20px;
  background-color: orange;
  border-radius: 5px;
  }

.carica_mike24 {
  width: 340px;
  height: 20px;
  background-color: green;
  border-radius: 5px;
}

.carica_fede154 {
  width: 100px;
  height: 20px;
  background-color: red;
  border-radius: 5px;
}
